QWidget {
	font-size: 14px;
}

QLineEdit {
	/* set qt object property */
	qproperty-alignment: AlignCenter;
}

QLineEdit#resultS {

}

QLineEdit#resultQsek {
	font-size: 14px;
}

QLineEdit#resultQmin {
	font-size: 20px;
	padding: 5px;
}

QLineEdit#resultQmin {
	font-size: 20px;
	padding: 5px;
}

QPushButton#calc {
	padding: 10px;
}

/* https://doc.qt.io/qt-5/stylesheet-examples.html /*